/* NAVIGATION */

body
{
	background-color: white;
	margin-top: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	text-size-adjust:80%;
	text-align: center;
}

div
{
	
	background-color:green;
	border-width:2px;
	border-style:dotted;
}

.navbar
{
	background-color: #1F497D;
	font-size: 30px;
	text-align: center;
	position: fixed; /* Set the navbar to fixed position */
  	top: 0; /* Position the navbar at the top of the page */
  	width: 1000px;
}

.navbar a
{
	text-decoration: none;
	text-align: center;
	color: white;
	
}

.navbar li a:visited
{
	 text-decoration: none;
	 color: white;
}

.about
{
	background-color: red;
	height: 100%;
	display:flex;
	flex-direction: row;
	

}
#profil_pic_div
{
	margin:auto;
	
}

.profil_image
{
	border-radius: 50%;
}

.reveal
{
	opacity: 0;
	transform: translateY(100px);
}
.reveal-visible
{
	opacity: 1;
	transform: translateY(0);
	transition:1s;
}

p
{
	color: rgb(52, 58, 64);
}
h1
{
	color: #1F497D;
	border: 3px solid #1F497D;
	border-radius: 20px;
	padding-left: 20px;
}




#cv
{
	display: flex;

	flex-wrap: wrap;
	justify-content: space-around;
}
